Repository Project-Fusion-Launcher/fusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{html,json,pcss,css,sql}": ["prettier --write"],
  "*.rs": ["rustfmt --edition 2021"]
}

chore: bump tailwind-variants from 0.3.1 to 1.0.0
  packages/ui/package.json
  pnpm-workspace.yaml
Due: prettier --write

chore: bump tailwindcss from 4.0.3 to 4.1.4
  apps/desktop/package.json
  packages/config-tailwind/package.json
  packages/ui/package.json
Due: prettier --write

chore: bump @tailwindcss/vite from 4.0.3 to 4.1.4
  apps/desktop/package.json
  packages/ui/package.json
Due: prettier --write

chore(packages/ui): remove postcss
  packages/ui/package.json
Due: prettier --write

chore: update deps
  apps/desktop/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/ui/package.json
  packages/ui/src/index.css
Due: prettier --write

feat(apps/desktop): launch target finder improvements
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/storefronts/epicgames.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
  apps/desktop/src-tauri/src/util/file.rs
  apps/desktop/src-tauri/src/util/fs.rs
Due: rustfmt --edition 2021

fix(apps/desktop): fix virtual list rendering all items and bump virtua to 0.41.2
  apps/desktop/package.json
  apps/desktop/src/App.tsx
  apps/desktop/src/components/GameContextMenu.tsx
  apps/desktop/src/routes/Library/GameGrid.tsx
Due: eslint --fix, prettier --write

refactor(apps/desktop): remove comment
  apps/desktop/src/routes/Library/GameGrid.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): make itchio version info fetching more linear
  apps/desktop/src-tauri/src/storefronts/itchio.rs
Due: rustfmt --edition 2021

feat(apps/desktop): new download models
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/models/mod.rs
Due: rustfmt --edition 2021

feat(apps/desktop): start working on new downloader
  apps/desktop/src-tauri/src/common/download/mod.rs
  apps/desktop/src-tauri/src/common/mod.rs
  apps/desktop/src-tauri/src/common/result.rs
  apps/desktop/src-tauri/src/common/worker.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download_new.rs
  apps/desktop/src-tauri/src/managers/mod.rs
  apps/desktop/src-tauri/src/models/download.rs
Due: rustfmt --edition 2021

feat(apps/desktop): work-pulling structure
  apps/desktop/src-tauri/src/common/download/mod.rs
  apps/desktop/src-tauri/src/common/worker.rs
  apps/desktop/src-tauri/src/common/worker/mod.rs
  apps/desktop/src-tauri/src/lib.rs
Due: rustfmt --edition 2021

feat(apps/desktop): more stuff
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/common/download/mod.rs
  apps/desktop/src-tauri/src/common/result.rs
  apps/desktop/src-tauri/src/common/worker/mod.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download_new.rs
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/storefronts/epicgames.rs
  crates/wrapper-epicgames/src/api/models/manifest.rs
Due: rustfmt --edition 2021

feat: more stuff
  crates/wrapper-epicgames/src/api/models/manifest.rs
Due: rustfmt --edition 2021

feat(crates/wrapper-epicgames): use tuple for chunk guid
  crates/wrapper-epicgames/src/api/models/manifest.rs
Due: rustfmt --edition 2021

feat: even more stuff
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/src/common/download/mod.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/storefronts/epicgames.rs
  crates/wrapper-epicgames/Cargo.toml
  crates/wrapper-epicgames/src/api/models/manifest.rs
  crates/wrapper-epicgames/src/lib.rs
Due: rustfmt --edition 2021

chore: more test data
  apps/desktop/src-tauri/src/lib.rs
Due: rustfmt --edition 2021

feat: more more
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/common/download/mod.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/managers/download_new.rs
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/models/payloads.rs
  apps/desktop/src-tauri/src/storefronts/epicgames.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
  apps/desktop/src-tauri/src/util/file.rs
  apps/desktop/src-tauri/src/util/mod.rs
  apps/desktop/src-tauri/src/util/string.rs
  crates/wrapper-epicgames/src/api/models/chunk.rs
  crates/wrapper-epicgames/src/api/models/manifest.rs
  crates/wrapper-epicgames/src/api/models/mod.rs
  crates/wrapper-epicgames/src/lib.rs
Due: rustfmt --edition 2021

feat: this thing is driving me crazy
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/common/download/mod.rs
  apps/desktop/src-tauri/src/common/result.rs
  apps/desktop/src-tauri/src/managers/download_new.rs
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/epicgames.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
  crates/wrapper-epicgames/src/api/models/chunk.rs
  crates/wrapper-epicgames/src/api/models/manifest.rs
Due: rustfmt --edition 2021

feat: finnaly
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/common/download/mod.rs
  apps/desktop/src-tauri/src/common/worker/mod.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/managers/download_new.rs
  apps/desktop/src-tauri/src/managers/mod.rs
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/storefronts/epicgames.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
  apps/desktop/src-tauri/src/util/file.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): minor try_write_at cleanup
  apps/desktop/src-tauri/src/util/file.rs
Due: rustfmt --edition 2021

refactor: code cleanup pt1
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/common/download/mod.rs
  apps/desktop/src-tauri/src/common/mod.rs
  apps/desktop/src-tauri/src/common/worker.rs
  apps/desktop/src-tauri/src/downloads/mod.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/endpoints.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/mod.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/models.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/services.rs
  apps/desktop/src-tauri/src/storefronts/itchio/conversions.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/itchio/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/utils.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
  apps/desktop/src-tauri/src/util/file.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): avoid unnecessary clone
  apps/desktop/src-tauri/src/storefronts/itchio/conversions.rs
Due: rustfmt --edition 2021

refactor: bunch of code cleanup
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/endpoints.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/models.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/services.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/itchio/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/utils.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
  apps/desktop/src-tauri/src/utils/file.rs
  apps/desktop/src-tauri/src/utils/fs.rs
  apps/desktop/src-tauri/src/utils/mod.rs
  apps/desktop/src-tauri/src/utils/string.rs
Due: rustfmt --edition 2021

refactor: another bunch of refactoring
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/common/worker.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/endpoints.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/services.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/conversions.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/endpoints.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/services.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
Due: rustfmt --edition 2021

refactor: epic refactoring
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/storefronts/epicgames/api/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/utils.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/services.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
Due: rustfmt --edition 2021

feat: support epic json manifests
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/chunk.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/json_manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/utils.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/services.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
Due: rustfmt --edition 2021

style(apps/desktop): small code style fixes
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/json_manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/services.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
Due: rustfmt --edition 2021

refactor: move legacy-games to main app
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/common/result.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/api/endpoints.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/api/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/api/models.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/api/services.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/conversions.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/strategy.rs
Due: rustfmt --edition 2021

feat(apps/desktop): itchio download resume
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/models.rs
  apps/desktop/src-tauri/src/storefronts/itchio/api/services.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/itchio/strategy.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/strategy.rs
Due: rustfmt --edition 2021

feat(apps/desktop): basic pausing
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/storefronts/itchio/strategy.rs
  apps/desktop/src/components/Header.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): attempt epic progress report
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/strategy.rs
Due: rustfmt --edition 2021

feat(apps/desktop): some epicgames optimizations
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/chunk.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/strategy.rs
Due: rustfmt --edition 2021

feat(apps/desktop): downlader stuffs
  apps/desktop/src-tauri/src/common/result.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/chunk.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/download_plan.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/services.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/strategy.rs
Due: rustfmt --edition 2021

feat(apps/desktop): update rust deps
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
Due: rustfmt --edition 2021

style(apps/desktop): organize imports
  apps/desktop/src-tauri/src/storefronts/epicgames/strategy.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): legacygames cleanup and minor login speedup
  apps/desktop/src-tauri/src/downloads/mod.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/chunk.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/download_plan.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/itchio/strategy.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/api/models.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/api/services.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/strategy.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): slight improvement to epic manifest decoding
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/manifest.rs
Due: rustfmt --edition 2021
