Repository Project-Fusion-Launcher/fusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "*.{html,json,pcss,css}": ["prettier --write", "git add"]
}

refactor(ui): move code to a src folder
  apps/desktop/.eslintrc.cjs
  apps/desktop/postcss.config.cjs
  packages/ui/components/Button.tsx
  packages/ui/index.ts
  packages/ui/package.json
  packages/ui/stories/Button.stories.tsx
  packages/ui/stories/Button.tsx
  packages/ui/stories/Configure.mdx
  packages/ui/stories/assets/accessibility.png
  packages/ui/stories/assets/accessibility.svg
  packages/ui/stories/assets/addon-library.png
  packages/ui/stories/assets/assets.png
  packages/ui/stories/assets/avif-test-image.avif
  packages/ui/stories/assets/context.png
  packages/ui/stories/assets/discord.svg
  packages/ui/stories/assets/docs.png
  packages/ui/stories/assets/figma-plugin.png
  packages/ui/stories/assets/github.svg
  packages/ui/stories/assets/share.png
  packages/ui/stories/assets/styling.png
  packages/ui/stories/assets/testing.png
  packages/ui/stories/assets/theming.png
  packages/ui/stories/assets/tutorials.svg
  packages/ui/stories/assets/youtube.svg
  packages/ui/stories/button.css
Due: eslint --fix, prettier --write

refactor(ui): move code to a src folder
  packages/ui/src/components/Button.tsx
  packages/ui/src/stories/Button.stories.tsx
  packages/ui/src/stories/Button.tsx
  packages/ui/src/stories/Configure.mdx
  packages/ui/src/stories/assets/accessibility.png
  packages/ui/src/stories/assets/accessibility.svg
  packages/ui/src/stories/assets/addon-library.png
  packages/ui/src/stories/assets/assets.png
  packages/ui/src/stories/assets/avif-test-image.avif
  packages/ui/src/stories/assets/context.png
  packages/ui/src/stories/assets/discord.svg
  packages/ui/src/stories/assets/docs.png
  packages/ui/src/stories/assets/figma-plugin.png
  packages/ui/src/stories/assets/github.svg
  packages/ui/src/stories/assets/share.png
  packages/ui/src/stories/assets/styling.png
  packages/ui/src/stories/assets/testing.png
  packages/ui/src/stories/assets/theming.png
  packages/ui/src/stories/assets/tutorials.svg
  packages/ui/src/stories/assets/youtube.svg
  packages/ui/src/stories/button.css
Due: eslint --fix, prettier --write

refactor: update deps
  apps/desktop/package.json
  package.json
  packages/eslint-config/package.json
  packages/icons/package.json
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: fix build script
  .vscode/settings.json
  apps/desktop/package.json
  apps/desktop/src-tauri/tauri.conf.json
  turbo.json
Due: prettier --write

chore: create .code-workspace file
  .vscode/project.code-workspace
Due: none

refactor: migrate to eslint 9
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierrc.json
  .vscode/settings.json
  apps/desktop/.eslintrc.cjs
  apps/desktop/eslint.config.js
  apps/desktop/package.json
  eslint.config.mjs
  package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/icons/.eslintrc.cjs
  packages/icons/eslint.config.mjs
  packages/icons/package.json
  packages/ui/.eslintrc.cjs
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update lint and format scripts
  packages/icons/package.json
  packages/ui/package.json
Due: prettier --write

chore: use just beta in tauri versions
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/gen/schemas/acl-manifests.json
  apps/desktop/src-tauri/gen/schemas/desktop-schema.json
  apps/desktop/src-tauri/gen/schemas/windows-schema.json
Due: prettier --write

refactor: minor file renaming
  apps/desktop/eslint.config.js
  eslint.config.mjs
  packages/eslint-config/eslint.config.js
  packages/eslint-config/package.json
  packages/icons/eslint.config.mjs
  packages/tailwind-config/tsconfig.json
  packages/ui/eslint.config.mjs
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: storybook setup
  .prettierrc.json
  .vscode/settings.json
  package.json
  packages/tailwind-config/tailwind.config.ts
  packages/ui/.storybook/main.ts
  packages/ui/package.json
  packages/ui/postcss.config.cjs
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/TextField.tsx
  packages/ui/src/index.pcss
  packages/ui/src/stories/Button.stories.tsx
  packages/ui/src/stories/Button.tsx
  packages/ui/src/stories/TextField.stories.tsx
  packages/ui/src/stories/button.css
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

chore: add tauri gen to .gitignore
  apps/desktop/src-tauri/gen/schemas/acl-manifests.json
  apps/desktop/src-tauri/gen/schemas/capabilities.json
  apps/desktop/src-tauri/gen/schemas/desktop-schema.json
  apps/desktop/src-tauri/gen/schemas/windows-schema.json
Due: prettier --write

feat: myabandonware scrapper create initial setup
  .vscode/project.code-workspace
  apps/desktop/src-tauri/.gitignore
  crates/myabandonware/Cargo.toml
  crates/myabandonware/src/lib.rs
Due: none

feat(crates/myabandonware): search scraper
  crates/myabandonware/.gitignore
  crates/myabandonware/Cargo.lock
  crates/myabandonware/Cargo.toml
  crates/myabandonware/src/lib.rs
  crates/myabandonware/src/models.rs
  crates/myabandonware/src/routes.rs
  crates/myabandonware/src/scraper/game.rs
  crates/myabandonware/src/scraper/mod.rs
  crates/myabandonware/src/scraper/search.rs
  crates/myabandonware/src/tests.rs
  pnpm-lock.yaml
Due: none

chore: add rustfmt to the linstaged config
  .lintstagedrc.json
  crates/myabandonware/src/scraper/mod.rs
  crates/myabandonware/src/tests.rs
Due: prettier --write

style(crates/myabandonware): remove blank line
  crates/myabandonware/src/scraper/mod.rs
Due: none

feat(crates/myabandonware): page number to search
  crates/myabandonware/src/lib.rs
  crates/myabandonware/src/routes.rs
  crates/myabandonware/src/scraper/search.rs
  crates/myabandonware/src/tests.rs
Due: none

feat(crates/myabandonware): partial game scraper
  crates/myabandonware/src/lib.rs
  crates/myabandonware/src/models.rs
  crates/myabandonware/src/scraper/game.rs
  crates/myabandonware/src/scraper/search.rs
  crates/myabandonware/src/tests.rs
Due: none

refactor(crates/myabandonware-scraper): crate rename
  .vscode/project.code-workspace
  crates/myabandonware-scraper/.gitignore
  crates/myabandonware-scraper/Cargo.lock
  crates/myabandonware-scraper/Cargo.toml
  crates/myabandonware-scraper/src/lib.rs
  crates/myabandonware-scraper/src/models.rs
  crates/myabandonware-scraper/src/routes.rs
  crates/myabandonware-scraper/src/scraper/game.rs
  crates/myabandonware-scraper/src/scraper/mod.rs
  crates/myabandonware-scraper/src/scraper/search.rs
  crates/myabandonware-scraper/src/tests.rs
Due: none

feat(crates/myabandonware-scraper): initial work on fetching downloads
  crates/myabandonware-scraper/src/models.rs
  crates/myabandonware-scraper/src/scraper/game.rs
  crates/myabandonware-scraper/src/tests.rs
Due: none

refactor: rename config packages to be consistent
  .vscode/project.code-workspace
  apps/desktop/eslint.config.js
  apps/desktop/package.json
  apps/desktop/src/App.tsx
  apps/desktop/tailwind.config.ts
  apps/desktop/tsconfig.json
  eslint.config.mjs
  package.json
  packages/config-eslint/eslint.config.js
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/config-tailwind/tailwind.config.ts
  packages/config-tailwind/tsconfig.json
  packages/config-typescript/base.json
  packages/config-typescript/package.json
  packages/icons/eslint.config.mjs
  packages/icons/package.json
  packages/icons/tailwind.config.ts
  packages/icons/tsconfig.json
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: attempt to fix eslint - the vscode extension needed to be in pre-release mode
  apps/desktop/src/components/Sidebar.tsx
  packages/config-eslint/eslint.config.js
Due: eslint --fix

refactor(crates/scraper-myabandonware): rename for better consistency
  .vscode/project.code-workspace
  crates/scraper-myabandonware/.gitignore
  crates/scraper-myabandonware/Cargo.lock
  crates/scraper-myabandonware/Cargo.toml
  crates/scraper-myabandonware/src/lib.rs
  crates/scraper-myabandonware/src/models.rs
  crates/scraper-myabandonware/src/routes.rs
  crates/scraper-myabandonware/src/scraper/game.rs
  crates/scraper-myabandonware/src/scraper/mod.rs
  crates/scraper-myabandonware/src/scraper/search.rs
  crates/scraper-myabandonware/src/tests.rs
Due: none

feat(crates/wrapper-itchio): initial itchio api wrapper crate
  .vscode/project.code-workspace
  crates/wrapper-itchio/.gitignore
  crates/wrapper-itchio/Cargo.lock
  crates/wrapper-itchio/Cargo.toml
  crates/wrapper-itchio/src/api/endpoints.rs
  crates/wrapper-itchio/src/api/mod.rs
  crates/wrapper-itchio/src/api/models.rs
  crates/wrapper-itchio/src/lib.rs
  crates/wrapper-itchio/src/tests.rs
Due: none

feat(wrapper-itchio): implement owned keys fetch
  crates/wrapper-itchio/Cargo.lock
  crates/wrapper-itchio/Cargo.toml
  crates/wrapper-itchio/src/api/endpoints.rs
  crates/wrapper-itchio/src/api/models.rs
  crates/wrapper-itchio/src/lib.rs
  crates/wrapper-itchio/src/tests.rs
Due: none

feat(wrapper-itchio): add build fetching and create a common struct
  crates/wrapper-itchio/src/api/endpoints.rs
  crates/wrapper-itchio/src/api/models.rs
  crates/wrapper-itchio/src/lib.rs
  crates/wrapper-itchio/src/tests.rs
Due: none

refactor(wrapper-itchio): merge trait deserializer functions into a generic one
  crates/wrapper-itchio/src/api/models.rs
Due: none

feat(wrapper-itchio): add fetch collections and collection games
  crates/wrapper-itchio/src/api/endpoints.rs
  crates/wrapper-itchio/src/api/models.rs
  crates/wrapper-itchio/src/lib.rs
  crates/wrapper-itchio/src/tests.rs
Due: none

chore: update dependencies
  apps/desktop/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/icons/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(wrapper-itchio): add login and totp methods
  crates/wrapper-itchio/Cargo.lock
  crates/wrapper-itchio/Cargo.toml
  crates/wrapper-itchio/src/api/endpoints.rs
  crates/wrapper-itchio/src/api/models.rs
  crates/wrapper-itchio/src/lib.rs
  crates/wrapper-itchio/src/tests.rs
Due: none

feat(wrapper-itchio): add support for login recaptcha
  crates/wrapper-itchio/src/api/models.rs
  crates/wrapper-itchio/src/lib.rs
Due: none

chore: add pnpm-lock to gitignore
  .gitignore
  pnpm-lock.yaml
Due: none

feat(wrapper-legacygames): initial work on legacygames api wrapper
  .vscode/project.code-workspace
  crates/wrapper-legacygames/.gitignore
  crates/wrapper-legacygames/Cargo.lock
  crates/wrapper-legacygames/Cargo.toml
  crates/wrapper-legacygames/src/api/endpoints.rs
  crates/wrapper-legacygames/src/api/mod.rs
  crates/wrapper-legacygames/src/api/models.rs
  crates/wrapper-legacygames/src/lib.rs
  crates/wrapper-legacygames/src/tests.rs
Due: none

feat(wrapper-legacygames): add fetch products
  crates/wrapper-legacygames/Cargo.lock
  crates/wrapper-legacygames/Cargo.toml
  crates/wrapper-legacygames/src/api/endpoints.rs
  crates/wrapper-legacygames/src/api/models.rs
  crates/wrapper-legacygames/src/lib.rs
  crates/wrapper-legacygames/src/tests.rs
Due: none

chore: update dependencies and project structure
  apps/desktop/package.json
  apps/desktop/src-tauri/.gitignore
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/main.rs
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/icons/package.json
  packages/ui/.storybook/main.ts
  packages/ui/package.json
  packages/ui/vite.config.ts
  turbo.json
Due: eslint --fix, prettier --write

chore: update husky scripts
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat(apps/desktop): add initial nav menu tabs
  .vscode/project.code-workspace
  apps/desktop/package.json
  apps/desktop/src/components/Sidebar.tsx
  apps/desktop/src/index.tsx
  apps/desktop/src/styles.css
  packages/config-tailwind/tailwind.config.ts
Due: eslint --fix, prettier --write

feat(apps/desktop): basic routing and initial library page
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Sidebar.tsx
  apps/desktop/src/index.tsx
  apps/desktop/src/routes/Library.tsx
  packages/config-eslint/eslint.config.js
  packages/config-tailwind/tailwind.config.ts
Due: eslint --fix

feat(desktop/app): move header to the root and use proper typography
  apps/desktop/package.json
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Header.tsx
  apps/desktop/src/components/Sidebar.tsx
  apps/desktop/src/index.tsx
  apps/desktop/src/routes/Library.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/package.json
Due: eslint --fix, prettier --write

feat(packages/ui): include Metropolis font
  packages/ui/src/fonts/Metropolis-Bold.woff2
  packages/ui/src/fonts/Metropolis-Light.woff2
  packages/ui/src/fonts/Metropolis-Medium.woff2
  packages/ui/src/fonts/fonts.css
Due: prettier --write

feat(apps/desktop): make header title dynamic
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Header.tsx
  apps/desktop/src/routes/Library.tsx
  apps/desktop/src/util/string.ts
Due: eslint --fix
