Repository Project-Fusion-Launcher/fusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{html,json,pcss,css,sql}": ["prettier --write"],
  "*.rs": ["rustfmt --edition 2021"]
}

feat(apps/desktop): readd clear button on header search field
  apps/desktop/src/components/Header.tsx
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

style(packages/ui): remove comment
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

feat(packages/ui): redone tabs
  apps/desktop/src/routes/Library/Library.tsx
  apps/desktop/src/routes/Settings/Settings.tsx
  packages/ui/index.ts
  packages/ui/src/components/Tabs.tsx
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

fix: minor fixes
  apps/desktop/src/components/InstallDialog.tsx
  packages/ui/src/components/styles.css
Due: eslint --fix, prettier --write

refactor(apps/desktop): remove sidebar trigger selected prop
  apps/desktop/src/components/Sidebar.tsx
Due: eslint --fix, prettier --write

feat: misc additions and fixes
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/Header.tsx
  packages/config-tailwind/index.css
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/Tabs.tsx
  packages/ui/src/components/Tooltip.tsx
Due: eslint --fix, prettier --write

fix(apps/desktop): fix version select menu undefined value
  apps/desktop/src/components/InstallDialog.tsx
Due: eslint --fix, prettier --write

feat(packages/ui): remake context menu
  apps/desktop/src/components/GameContextMenu.tsx
  packages/ui/index.ts
  packages/ui/src/components/ContextMenu.tsx
Due: eslint --fix, prettier --write

refactor(apps/desktop): use h1 for the page title
  apps/desktop/src/components/Header.tsx
Due: eslint --fix, prettier --write

feat(packages/ui): remake dialog
  apps/desktop/src/components/InstallDialog.tsx
  packages/ui/index.ts
  packages/ui/src/components/Dialog.tsx
Due: eslint --fix, prettier --write

feat(packages/ui): select subtrigger highlight on focus
  packages/ui/src/components/ContextMenu.tsx
Due: eslint --fix, prettier --write

feat(packages/ui): add button loading state
  apps/desktop/src/components/InstallDialog.tsx
  packages/ui/package.json
  packages/ui/src/components/Button.tsx
Due: eslint --fix, prettier --write

chore(apps/desktop): bump solid-transition-group to 0.3.0
  apps/desktop/package.json
Due: prettier --write

feat(packages/ui): add support for text field icon
  apps/desktop/src/components/Header.tsx
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

fix(packages/ui): use fade-in/out animation in dialog overlay instead of in/out
  packages/config-tailwind/index.css
  packages/ui/src/components/Dialog.tsx
Due: eslint --fix, prettier --write

chore: use exact package versions
  apps/desktop/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/ui/package.json
Due: prettier --write

chore(apps/desktop): bump virtua to 0.40.1
  apps/desktop/package.json
Due: prettier --write

feat(apps/desktop): support linux 7zip
  apps/desktop/src-tauri/src/util/file.rs
  apps/desktop/thirdparty/7-Zip/License.txt
  apps/desktop/thirdparty/7-Zip/linux/7zzs
  apps/desktop/thirdparty/7-Zip/windows/7z.dll
  apps/desktop/thirdparty/7-Zip/windows/7z.exe
Due: rustfmt --edition 2021

fix(apps/desktop): fix 7z sidecar linux permissions
  apps/desktop/src-tauri/src/util/file.rs
  apps/desktop/thirdparty/7-Zip/linux/7zzs
Due: rustfmt --edition 2021

chore(apps/desktop): update cargo deps
  apps/desktop/src-tauri/Cargo.lock
Due: none

fix(apps/desktop): use shallowest launch target
  apps/desktop/src-tauri/src/util/fs.rs
Due: rustfmt --edition 2021

style(apps/desktop): use system cfg directive instead of target_os
  apps/desktop/src-tauri/src/util/file.rs
Due: rustfmt --edition 2021

feat(apps/desktop): only show specific os game versions (until wine is supported)
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  crates/wrapper-itchio/src/api/models.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): massive storefront system refactor
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
  apps/desktop/src/State.tsx
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/models/types.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

fix(apps/desktop): don't allow null sort_title for games
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
Due: prettier --write, rustfmt --edition 2021

feat(apps/desktop): allow opening install location via context menu
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src/components/GameContextMenu.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): allow launching linux games on linux
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/util/file.rs
  apps/desktop/src-tauri/src/util/fs.rs
Due: rustfmt --edition 2021

fix(apps/desktop): reduce game highlight shadow effect
  apps/desktop/src/components/GameCard.tsx
Due: eslint --fix, prettier --write

chore(apps/desktop): update apps
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/util/file.rs
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier --write, rustfmt --edition 2021

chore: bump vite to 6.3.2
  apps/desktop/package.json
  packages/ui/package.json
Due: prettier --write

refactor(apps/desktop): improve project structure and commands/events
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/commands/mod.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/models/payloads.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/GameContextMenu.tsx
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/models/payloads.tsx
  apps/desktop/src/models/types.tsx
  apps/desktop/src/routes/Downloads/DownloadItem.tsx
  apps/desktop/src/routes/Downloads/Downloads.tsx
  apps/desktop/src/routes/Library/GameGrid.tsx
  apps/desktop/src/routes/Library/Library.tsx
  apps/desktop/src/routes/Settings/Settings.tsx
  apps/desktop/src/services/game.ts
  apps/desktop/src/state/GameContext.tsx
  apps/desktop/src/utils/array.ts
  apps/desktop/src/utils/string.ts
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(packages/ui): fix invisible button
  packages/ui/src/components/Button.tsx
Due: eslint --fix, prettier --write

feat(crates/wrapper-legacygames): handle games without names
  crates/wrapper-legacygames/src/api/models.rs
Due: rustfmt --edition 2021

feat(crates/wrapper-epicgames): start to work on epic games
  .vscode/project.code-workspace
  crates/wrapper-epicgames/.gitignore
  crates/wrapper-epicgames/Cargo.toml
  crates/wrapper-epicgames/src/api/endpoints.rs
  crates/wrapper-epicgames/src/api/mod.rs
  crates/wrapper-epicgames/src/api/models.rs
  crates/wrapper-epicgames/src/lib.rs
  crates/wrapper-epicgames/src/tests.rs
  crates/wrapper-itchio/src/api/endpoints.rs
Due: rustfmt --edition 2021

feat: epic games library support
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/epicgames.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/src/storefronts/storefront.rs
  crates/wrapper-epicgames/src/api/models.rs
  crates/wrapper-epicgames/src/lib.rs
Due: prettier --write, rustfmt --edition 2021

feat: retrieve epic games game versions
  apps/desktop/src-tauri/src/storefronts/epicgames.rs
  crates/wrapper-epicgames/src/api/endpoints.rs
  crates/wrapper-epicgames/src/api/models/mod.rs
  crates/wrapper-epicgames/src/lib.rs
  crates/wrapper-epicgames/src/tests.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): move version download size to 'fetch version info' stage
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/epicgames.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/models/types.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat: read epic manifest
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/epicgames.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/utils/string.ts
  crates/wrapper-epicgames/Cargo.toml
  crates/wrapper-epicgames/src/api/models/manifest.rs
  crates/wrapper-epicgames/src/api/models/mod.rs
  crates/wrapper-epicgames/src/lib.rs
Due: eslint --fix, prettier --write, rustfmt --edition 2021

chore: bump pnpm to 10.9.0
  package.json
Due: prettier --write

chore: bump virtua from 0.40.1 to 0.40.4
  apps/desktop/package.json
Due: prettier --write
