Repository Project-Fusion-Launcher/fusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

refactor(apps/desktop): minor code cleanup
  apps/desktop/src-tauri/src/common/result.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/json_manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/manifest.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): remove unused method
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/manifest.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): more refactoring
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/storefronts/epicgames/api/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/chunk.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/json_manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/utils.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/download/download_plan.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/download/strategy.rs
Due: rustfmt --edition 2021

feat(apps/desktop): show network and disk usage
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/download/strategy.rs
Due: rustfmt --edition 2021

feat(apps/desktop): pause/resume and progress for legacygames downloads
  apps/desktop/src-tauri/src/storefronts/itchio/strategy.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/strategy.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): create a base file downloader utility
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/storefronts/epicgames/download/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/strategy.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/strategy.rs
  apps/desktop/src-tauri/src/utils/download.rs
  apps/desktop/src-tauri/src/utils/file.rs
  apps/desktop/src-tauri/src/utils/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): do not open a file again for reading before download
  apps/desktop/src-tauri/src/utils/download.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): code cleanup
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/mod.rs
  apps/desktop/src-tauri/src/utils/download.rs
  apps/desktop/src-tauri/src/utils/file.rs
  apps/desktop/src-tauri/src/utils/launch_target.rs
  apps/desktop/src-tauri/src/utils/mod.rs
  apps/desktop/src-tauri/src/utils/string.rs
Due: rustfmt --edition 2021

feat(apps/desktop): wait for pauseto complete before returning
  apps/desktop/src-tauri/src/managers/download.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): first step of making the download manager not suck
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/download/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/strategy.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/strategy.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): use atomics for progress reporting
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/download/strategy.rs
  apps/desktop/src-tauri/src/storefronts/itchio/strategy.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/strategy.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/src/utils/download.rs
Due: rustfmt --edition 2021

feat(apps/desktop): proper pause/resume
  apps/desktop/src-tauri/src/managers/download.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): unix only directive for utils::launch_target
  apps/desktop/src-tauri/src/utils/launch_target.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): some events refactoring
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/models/events.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/models/mod.rs
  apps/desktop/src-tauri/src/models/payloads.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src/bindings.ts
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/GameContextMenu.tsx
  apps/desktop/src/components/Header.tsx
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/models/types.tsx
  apps/desktop/src/routes/Downloads/DownloadItem.tsx
  apps/desktop/src/routes/Downloads/Downloads.tsx
  apps/desktop/src/routes/Library/GameGrid.tsx
  apps/desktop/src/routes/Library/Library.tsx
  apps/desktop/src/services/game.ts
  apps/desktop/src/state/GameContext.tsx
  packages/config-eslint/eslint.config.js
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): better download events
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/models/events.rs
  apps/desktop/src/bindings.ts
  apps/desktop/src/state/GameContext.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): mark game as installing and installed
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/mod.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): use std mutex
  apps/desktop/src-tauri/src/managers/download.rs
  packages/config-typescript/base.json
Due: prettier --write, rustfmt --edition 2021

refactor(apps/desktop): add @ts-nocheck to bindings.ts
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/bindings.ts
  packages/config-typescript/base.json
Due: eslint --fix, prettier --write, rustfmt --edition 2021

refactor(apps/desktop): compute epic download plan in a blocking task
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): epic manifest: calculate download and install size when parsing
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/json_manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/services.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): better database management
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/common/database.rs
  apps/desktop/src-tauri/src/common/mod.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/database.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/managers/mod.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): db improvements
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/managers/game.rs
  apps/desktop/src-tauri/src/managers/mod.rs
  apps/desktop/src-tauri/src/models/download.rs
  apps/desktop/src-tauri/src/models/events.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/download/strategy.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/mod.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): models overhaul
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/commands/game.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/models/events.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/manifest.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/conversions.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/download/strategy.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src-tauri/src/storefronts/itchio/conversions.rs
  apps/desktop/src-tauri/src/storefronts/itchio/mod.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/conversions.rs
  apps/desktop/src-tauri/src/storefronts/legacygames/mod.rs
Due: rustfmt --edition 2021

feat(apps/desktop): save epic manifests to disk
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/events.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/services.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/conversions.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/download/strategy.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
  apps/desktop/src/bindings.ts
  apps/desktop/src/state/GameContext.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

fix(apps/desktop): epic game deserialization
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/mod.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/api/models/responses.rs
  apps/desktop/src-tauri/src/storefronts/epicgames/mod.rs
Due: prettier --write, rustfmt --edition 2021

feat: initial stuff
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  crates/fusion/Cargo.toml
  crates/fusion/src/main.rs
  crates/fusion/src/ui/components/mod.rs
  crates/fusion/src/ui/components/sidebar.rs
  crates/fusion/src/ui/pages/library.rs
  crates/fusion/src/ui/pages/mod.rs
  crates/fusion/src/ui/root.rs
  crates/ui/Cargo.toml
  crates/ui/assets/icons/box.svg
  crates/ui/assets/icons/download.svg
  crates/ui/assets/icons/library.svg
  crates/ui/src/assets.rs
  crates/ui/src/components/button.rs
  crates/ui/src/components/mod.rs
  crates/ui/src/lib.rs
  crates/ui/src/theme.rs
Due: rustfmt --edition 2021

feat: initial stuff
  crates/fusion/src/ui/components/sidebar.rs
  crates/fusion/src/ui/pages/mod.rs
  crates/fusion/src/ui/root.rs
Due: rustfmt --edition 2021

feat: basic sidebar
  Cargo.lock
  Cargo.toml
  crates/fusion/Cargo.toml
  crates/fusion/src/ui/components/sidebar.rs
  crates/fusion/src/ui/root.rs
  crates/ui/Cargo.toml
  crates/ui/src/theme.rs
Due: rustfmt --edition 2021

feat: game installation filters and tab component
  Cargo.lock
  crates/fusion/src/main.rs
  crates/fusion/src/ui/components/header.rs
  crates/fusion/src/ui/components/mod.rs
  crates/fusion/src/ui/components/sidebar.rs
  crates/fusion/src/ui/pages/library.rs
  crates/fusion/src/ui/pages/mod.rs
  crates/fusion/src/ui/root.rs
  crates/ui/Cargo.toml
  crates/ui/assets/fonts/Metropolis/Metropolis-Bold.otf
  crates/ui/assets/fonts/Metropolis/Metropolis-Light.otf
  crates/ui/assets/fonts/Metropolis/Metropolis-Medium.otf
  crates/ui/src/assets.rs
  crates/ui/src/components/badge.rs
  crates/ui/src/components/button.rs
  crates/ui/src/components/label.rs
  crates/ui/src/components/mod.rs
  crates/ui/src/components/tabs/mod.rs
  crates/ui/src/components/tabs/tab.rs
  crates/ui/src/components/tabs/tab_bar.rs
  crates/ui/src/lib.rs
  crates/ui/src/theme.rs
  crates/ui/src/traits.rs
Due: rustfmt --edition 2021

refactor: cleanup
  Cargo.lock
  Cargo.toml
  assets/fonts/Metropolis/Metropolis-Bold.otf
  assets/fonts/Metropolis/Metropolis-Light.otf
  assets/fonts/Metropolis/Metropolis-Medium.otf
  assets/icons/box.svg
  assets/icons/download.svg
  assets/icons/library.svg
  crates/assets/Cargo.toml
  crates/assets/src/lib.rs
  crates/fusion/Cargo.toml
  crates/fusion/src/main.rs
  crates/fusion/src/ui/pages/library.rs
  crates/ui/src/lib.rs
  crates/ui/src/traits.rs
Due: rustfmt --edition 2021

feat: gpui_tokio and path resolver
  Cargo.lock
  Cargo.toml
  crates/fusion/Cargo.toml
  crates/fusion/src/main.rs
  crates/fusion/src/path/mod.rs
  crates/gpui_tokio/Cargo.toml
  crates/gpui_tokio/src/defer.rs
  crates/gpui_tokio/src/lib.rs
Due: rustfmt --edition 2021

feat: create tokio runtime
  Cargo.lock
  crates/fusion/Cargo.toml
  crates/fusion/src/main.rs
Due: rustfmt --edition 2021

feat: database stuff
  Cargo.lock
  Cargo.toml
  crates/database/Cargo.toml
  crates/database/src/lib.rs
  crates/fusion/Cargo.toml
  crates/fusion/src/main.rs
  migrations/2025-06-11-144130_initial/down.sql
  migrations/2025-06-11-144130_initial/up.sql
Due: prettier --write, rustfmt --edition 2021

feat: database stuff
  crates/database/src/lib.rs
  crates/fusion/src/main.rs
Due: rustfmt --edition 2021

feat: more stuff
  Cargo.lock
  crates/database/Cargo.toml
  crates/database/src/models/config.rs
  crates/database/src/models/game.rs
  crates/database/src/models/mod.rs
  crates/database/src/schema.rs
  crates/fusion/src/main.rs
  crates/fusion/src/storefronts.rs
  migrations/2025-06-11-144130_initial/down.sql
  migrations/2025-06-11-144130_initial/up.sql
Due: prettier --write, rustfmt --edition 2021

feat: smh
  Cargo.lock
  Cargo.toml
  crates/database/Cargo.toml
  crates/database/src/models/config.rs
  crates/database/src/models/game.rs
  crates/epic_games/Cargo.toml
  crates/epic_games/src/lib.rs
  crates/fusion/Cargo.toml
  crates/fusion/src/main.rs
  crates/fusion/src/storefronts.rs
  crates/legacy_games/Cargo.toml
  crates/legacy_games/src/api/endpoints.rs
  crates/legacy_games/src/api/mod.rs
  crates/legacy_games/src/api/models/mod.rs
  crates/legacy_games/src/api/models/responses.rs
  crates/legacy_games/src/api/services.rs
  crates/legacy_games/src/lib.rs
  crates/storefront/Cargo.toml
  crates/storefront/src/lib.rs
Due: rustfmt --edition 2021

feat: storefront initialization
  Cargo.lock
  Cargo.toml
  crates/database/src/lib.rs
  crates/database/src/models/config.rs
  crates/epic_games/Cargo.toml
  crates/epic_games/src/api/endpoints.rs
  crates/epic_games/src/api/mod.rs
  crates/epic_games/src/api/models/chunk.rs
  crates/epic_games/src/api/models/json_manifest.rs
  crates/epic_games/src/api/models/manifest.rs
  crates/epic_games/src/api/models/mod.rs
  crates/epic_games/src/api/models/requests.rs
  crates/epic_games/src/api/models/responses.rs
  crates/epic_games/src/api/models/utils.rs
  crates/epic_games/src/api/services.rs
  crates/epic_games/src/lib.rs
  crates/fusion/Cargo.toml
  crates/fusion/src/main.rs
  crates/fusion/src/storefronts.rs
  crates/gpui_tokio/src/defer.rs
  crates/ui/src/components/tabs/mod.rs
  crates/ui/src/components/tabs/tab.rs
  crates/ui/src/components/tabs/tab_bar.rs
Due: rustfmt --edition 2021

feat: add itchio
  Cargo.lock
  Cargo.toml
  crates/epic_games/src/lib.rs
  crates/fusion/Cargo.toml
  crates/fusion/src/storefronts.rs
  crates/itchio/Cargo.toml
  crates/itchio/src/api/endpoints.rs
  crates/itchio/src/api/mod.rs
  crates/itchio/src/api/models/mod.rs
  crates/itchio/src/api/models/responses.rs
  crates/itchio/src/api/services.rs
  crates/itchio/src/lib.rs
  crates/legacy_games/src/lib.rs
Due: rustfmt --edition 2021

chore: bump dependencies
  Cargo.lock
Due: none

feat: fetch games
  Cargo.lock
  Cargo.toml
  crates/database/src/models/game.rs
  crates/epic_games/Cargo.toml
  crates/epic_games/src/conversions.rs
  crates/epic_games/src/lib.rs
  crates/itchio/src/conversions.rs
  crates/itchio/src/lib.rs
  crates/legacy_games/src/conversions.rs
  crates/legacy_games/src/lib.rs
  crates/storefront/src/lib.rs
  crates/worker/Cargo.toml
  crates/worker/src/lib.rs
Due: rustfmt --edition 2021

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json,pcss,css,sql})
  rustfmt --edition 2021: any of: *.rs
