Repository Project-Fusion-Launcher/fusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{html,json,pcss,css}": ["prettier --write"],
  "*.rs": ["rustfmt --edition 2021"]
}

chore: update dependencies
  apps/desktop/package.json
  package.json
  packages/config-tailwind/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: prettier --write

feat(packages/ui): work on the TextField component
  .vscode/settings.json
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Header.tsx
  apps/desktop/src/components/Sidebar.tsx
  apps/desktop/src/index.tsx
  apps/desktop/src/routes/Library.tsx
  apps/desktop/src/routes/Retro.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/index.ts
  packages/ui/package.json
  packages/ui/src/components/TextField.tsx
  packages/ui/tailwind.config.ts
Due: eslint --fix, prettier --write

refer to packages components in tailwind config
  apps/desktop/tailwind.config.ts
Due: eslint --fix, prettier --write

feat(packages/ui): proper TextInput
  apps/desktop/src/components/Header.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/package.json
  packages/ui/src/components/TextField.tsx
  packages/ui/src/stories/TextField.stories.tsx
Due: eslint --fix, prettier --write

refactor(packages/ui): ignore disable ts check for TextInput
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

refactor(packages/config-eslint): disable ban-ts-comment rule
  packages/config-eslint/eslint.config.js
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

fix(apps/desktop): disable text selection
  apps/desktop/index.html
Due: prettier --write

fix(packages/ui): focus input when clicking icon
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

feat(packages/ui): add Separator component
  packages/ui/index.ts
  packages/ui/src/components/Separator.tsx
  packages/ui/src/components/TextField.tsx
  packages/ui/src/stories/Separator.stories.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): use Separator component from packages/ui
  apps/desktop/src/components/Sidebar.tsx
  packages/ui/src/components/Separator.tsx
Due: eslint --fix, prettier --write

refactor(apps/desktop): improve Sidebar tab creation
  apps/desktop/src/components/Sidebar.tsx
Due: eslint --fix, prettier --write

feat: badges, buttons and part of the library filter menu
  apps/desktop/src/components/Header.tsx
  apps/desktop/src/routes/Library.tsx
  packages/ui/index.ts
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/TextField.tsx
  packages/ui/src/stories/Badge.stories.tsx
  packages/ui/src/stories/Button.stories.tsx
  packages/ui/src/stories/Separator.stories.tsx
  packages/ui/src/stories/TextField.stories.tsx
Due: eslint --fix, prettier --write

chore(apps/desktop): change app identifier
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier --write

chore(apps/desktop): add release optimizations, update deps and misc changes
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/main.rs
Due: rustfmt --edition 2021

feat(apps/desktop): app config model and schema
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/managers/database.rs
  apps/desktop/src-tauri/src/managers/mod.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/models/mod.rs
  apps/desktop/src-tauri/src/schemas/config.rs
  apps/desktop/src-tauri/src/schemas/mod.rs
Due: rustfmt --edition 2021

feat(apps/desktop): set up migrations
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/diesel.toml
  apps/desktop/src-tauri/migrations/.keep
  apps/desktop/src-tauri/migrations/2024-08-21-195943_initial/down.sql
  apps/desktop/src-tauri/migrations/2024-08-21-195943_initial/up.sql
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/database.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/schemas/config.rs
  apps/desktop/src-tauri/src/schemas/mod.rs
Due: rustfmt --edition 2021

feat(apps/desktop): add db connection getter and minor refactoring
  apps/desktop/src-tauri/src/managers/database.rs
Due: rustfmt --edition 2021

feat(apps/desktop): base config manager
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/config.rs
  apps/desktop/src-tauri/src/managers/database.rs
  apps/desktop/src-tauri/src/managers/mod.rs
  apps/desktop/src-tauri/src/models/config.rs
Due: rustfmt --edition 2021

chore(crates/scraper-myabandonware): update dependencies
  crates/scraper-myabandonware/Cargo.lock
  crates/scraper-myabandonware/Cargo.toml
Due: none

chore(crates/wrapper-itchio): update dependencies
  crates/wrapper-itchio/Cargo.lock
  crates/wrapper-itchio/Cargo.toml
Due: none

chore(crates/wrapper-legacygames): update dependencies
  crates/wrapper-legacygames/Cargo.lock
  crates/wrapper-legacygames/Cargo.toml
Due: none

chore: update dependencies
  apps/desktop/src-tauri/Cargo.lock
  crates/scraper-myabandonware/Cargo.lock
  crates/wrapper-itchio/Cargo.lock
  crates/wrapper-legacygames/Cargo.lock
Due: none

chore(crates): ignore Cargo.lock
  crates/scraper-myabandonware/.gitignore
  crates/scraper-myabandonware/Cargo.lock
  crates/wrapper-itchio/.gitignore
  crates/wrapper-itchio/Cargo.lock
  crates/wrapper-legacygames/.gitignore
  crates/wrapper-legacygames/Cargo.lock
Due: none

feat(apps/desktop): prepare db models and schemas for games
  apps/desktop/src-tauri/migrations/2024-08-21-195943_initial/down.sql
  apps/desktop/src-tauri/migrations/2024-08-21-195943_initial/up.sql
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/down.sql
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/models/mod.rs
  apps/desktop/src-tauri/src/schema.rs
Due: rustfmt --edition 2021

chore: add prettier-plugin-sql to lintstaged and update deps
  .lintstagedrc.json
  .prettierrc.json
  apps/desktop/package.json
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/down.sql
  package.json
  packages/config-eslint/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: prettier --write

feat(apps/desktop): fetch itchio owned games
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/config.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/routes/Library.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(packages/ui): add onClick callback prop to button
  packages/ui/src/components/Button.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): add game source and optional key
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/managers/config.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
Due: rustfmt --edition 2021

chore(apps/desktop): remove api key (oops) and revoke it
  apps/desktop/src-tauri/src/managers/config.rs
Due: rustfmt --edition 2021

feat(apps/desktop): fetch games and add basic library virtualization
  apps/desktop/package.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src/App.tsx
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/routes/Library.tsx
  apps/desktop/src/util/array.ts
  packages/config-tailwind/tailwind.config.ts
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): bring back scrollbar and some minor styling
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/Header.tsx
  apps/desktop/src/routes/Library.tsx
  apps/desktop/src/styles.css
Due: eslint --fix, prettier --write

chore: update dependencies
  apps/desktop/package.json
  package.json
  packages/config-eslint/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: prettier --write

chore(apps/desktop): update dependencies
  apps/desktop/src-tauri/Cargo.lock
Due: none

fix(packages/ui): medium font was referencing to Metropolis-Light
  apps/desktop/src/components/GameCard.tsx
  packages/ui/src/fonts/fonts.css
Due: eslint --fix, prettier --write

feat(apps/desktop): more styling to game cards and misc improvements and fixes
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/Header.tsx
  apps/desktop/src/routes/Library.tsx
  packages/config-tailwind/tailwind.config.ts
Due: eslint --fix, prettier --write

feat(apps/desktop): game developer support
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/routes/Library.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): misc improvements
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src/routes/Library.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

chore: update deps
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: prettier --write

feat(apps/desktop): add download button on hover and misc improvements
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/Sidebar.tsx
  packages/config-tailwind/tailwind.config.ts
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): slightly improve game cards
  apps/desktop/src/components/GameCard.tsx
Due: eslint --fix, prettier --write
