Repository Project-Fusion-Launcher/fusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{html,json,pcss,css,sql}": ["prettier --write"],
  "*.rs": ["rustfmt --edition 2021"]
}

refactor(apps/desktop): remove unnecessary console.log
  apps/desktop/src-tauri/src/managers/config.rs
  apps/desktop/src/routes/Library.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(packages/ui): add select menu component
  packages/ui/index.ts
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/styles.css
  packages/ui/src/stories/Select.stories.tsx
Due: eslint --fix, prettier --write

refactor: :(
  apps/desktop/src-tauri/src/managers/config.rs
Due: rustfmt --edition 2021

feat(packages/ui): improve consistency
  packages/config-tailwind/tailwind.config.ts
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/TextField.tsx
  packages/ui/src/index.css
  packages/ui/src/stories/Badge.stories.tsx
  packages/ui/src/stories/Button.stories.tsx
  packages/ui/src/stories/Select.stories.tsx
  packages/ui/src/stories/Separator.stories.tsx
  packages/ui/src/stories/TextField.stories.tsx
Due: eslint --fix, prettier --write

feat(packages/ui): add dialog component
  packages/config-tailwind/tailwind.config.ts
  packages/ui/index.ts
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/stories/Dialog.stories.tsx
Due: eslint --fix, prettier --write

fix(packages/ui): remove padding from ghost buttons
  packages/ui/src/components/Button.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): game install dialog and prepare for version fetching
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/routes/Library.tsx
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/styles.css
Due: eslint --fix, prettier --write

feat(apps/desktop): fetch itchio game versions
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/routes/Library.tsx
  crates/wrapper-itchio/src/api/models.rs
  packages/ui/src/components/Select.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

chore(apps/desktop): add GameVersion type to the frontend
  apps/desktop/src/routes/Library.tsx
Due: eslint --fix, prettier --write

feat(packages/ui): improve badge padding
  apps/desktop/src-tauri/src/models/game.rs
  packages/ui/src/components/Badge.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): show actual number of games
  apps/desktop/src/routes/Library.tsx
  packages/ui/src/components/Badge.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): massive progress on the game install dialog
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/routes/Library.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Dialog.tsx
  packages/ui/src/components/Select.tsx
Due: eslint --fix, prettier --write

feat: support for itchio download and install size
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src/components/InstallDialog.tsx
  crates/wrapper-itchio/src/api/endpoints.rs
  crates/wrapper-itchio/src/api/models.rs
  crates/wrapper-itchio/src/lib.rs
Due: eslint --fix, prettier --write, rustfmt --edition 2021

chore: fix rust-analyzer in zed
  .zed/settings.json
Due: prettier --write

chore: update deps
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  crates/scraper-myabandonware/Cargo.toml
  crates/wrapper-itchio/Cargo.toml
  crates/wrapper-legacygames/Cargo.toml
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/icons/package.json
  packages/ui/package.json
Due: prettier --write

feat(apps/desktop): install location and more
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/util/string.ts
  packages/ui/index.ts
  packages/ui/src/components/IconButton.tsx
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/TextField.tsx
  packages/ui/src/stories/IconButton.stories.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): disallow empty selection in game versions
  apps/desktop/src/components/InstallDialog.tsx
  packages/ui/src/components/Select.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): make game cards buttons to improve accessibility
  apps/desktop/src/components/GameCard.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): improve library scroll position
  apps/desktop/src/routes/Library.tsx
Due: eslint --fix, prettier --write

feat: minor styling improvements
  packages/config-tailwind/tailwind.config.ts
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): very basic game downloader
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/managers/mod.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/components/InstallDialog.tsx
  crates/wrapper-itchio/src/api/endpoints.rs
  crates/wrapper-itchio/src/lib.rs
  packages/ui/src/components/Button.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): add downloader support for custom install directories
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/components/InstallDialog.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): download by chunks and parallelize writing
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/managers/download.rs
Due: rustfmt --edition 2021

feat(packages/ui): improve styling and add button loading state
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src/components/InstallDialog.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/package.json
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Dialog.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): display install and download sizes
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/util/string.ts
  crates/wrapper-itchio/src/api/models.rs
Due: eslint --fix, prettier --write, rustfmt --edition 2021

fix(packages/ui): remove leading from component labels
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

fix: some styling fixes
  apps/desktop/src/components/InstallDialog.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): add install and download size icons
  apps/desktop/src/components/InstallDialog.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): add update method to Game struct
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021

feat(apps/desktop): add game path and version to db
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: prettier --write, rustfmt --edition 2021

fix(apps/desktop): check if the app is already running before initializing tauri plugins
  apps/desktop/src-tauri/src/lib.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): code cleanup
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/common/database.rs
  apps/desktop/src-tauri/src/common/mod.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/config.rs
  apps/desktop/src-tauri/src/managers/database.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/managers/mod.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): derive default for config
  apps/desktop/src-tauri/src/managers/config.rs
  apps/desktop/src-tauri/src/models/config.rs
Due: rustfmt --edition 2021

feat(apps/desktop): simple extractor for zip files
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/down.sql
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: prettier --write, rustfmt --edition 2021

feat(apps/desktop): bundle 7zip
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/thirdparty/7-Zip/7z.dll
  apps/desktop/thirdparty/7-Zip/7z.exe
  apps/desktop/thirdparty/7-Zip/History.txt
  apps/desktop/thirdparty/7-Zip/License.txt
  apps/desktop/thirdparty/7-Zip/readme.txt
Due: prettier --write

feat: add game extracting with 7zip and more
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/managers/config.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/routes/Library.tsx
  crates/wrapper-itchio/src/api/models.rs
  crates/wrapper-itchio/src/lib.rs
Due: eslint --fix, prettier --write, rustfmt --edition 2021

fix: :(
  apps/desktop/src-tauri/src/managers/config.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): remove config manager and use model methods instead
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/config.rs
  apps/desktop/src-tauri/src/managers/mod.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): add rwlock to config
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): add better error handling
  apps/desktop/src-tauri/src/common/database.rs
  apps/desktop/src-tauri/src/common/error.rs
  apps/desktop/src-tauri/src/common/mod.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021
