Repository Project-Fusion-Launcher/fusion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, rustfmt --edition 2021

refactor(apps/desktop): add more error handling
  apps/desktop/src-tauri/src/common/error.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021

refactor(apps/desktop): add more error handling
  apps/desktop/src-tauri/src/common/error.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021

feat(apps/desktop): update 7-Zip and remove unneeded files
  apps/desktop/thirdparty/7-Zip/7z.dll
  apps/desktop/thirdparty/7-Zip/7z.exe
  apps/desktop/thirdparty/7-Zip/History.txt
  apps/desktop/thirdparty/7-Zip/License.txt
  apps/desktop/thirdparty/7-Zip/readme.txt
Due: none

feat(apps/desktop): add game launch target to db
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  crates/wrapper-itchio/src/api/models.rs
Due: rustfmt --edition 2021

fix(apps/desktop): minor fixes
  apps/desktop/src-tauri/src/storefronts/itchio.rs
Due: rustfmt --edition 2021

feat(apps/desktop): game launching
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/routes/Library.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): find launch target after downloading with our own implementation
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/src/util/fs.rs
  apps/desktop/src-tauri/src/util/mod.rs
Due: rustfmt --edition 2021

feat(apps/desktop): refresh installed games status
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
Due: rustfmt --edition 2021

chore: update deps
  .vscode/project.code-workspace
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  crates/wrapper-itchio/Cargo.toml
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/icons/eslint.config.mjs
  packages/icons/index.ts
  packages/icons/package.json
  packages/icons/src/bold/Cube.tsx
  packages/icons/tailwind.config.ts
  packages/icons/tsconfig.json
  packages/ui/package.json
Due: eslint --fix, prettier --write

fix(apps/desktop): rollback virtua to 0.36 as it was not rendering properly
  apps/desktop/package.json
Due: prettier --write

feat(apps/desktop): partial legacy games support
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  crates/wrapper-itchio/src/lib.rs
  crates/wrapper-legacygames/src/api/endpoints.rs
  crates/wrapper-legacygames/src/api/models.rs
  crates/wrapper-legacygames/src/lib.rs
Due: prettier --write, rustfmt --edition 2021

feat: a lot of small additions and code optimizations
  .vscode/project.code-workspace
  apps/desktop/src-tauri/src/common/database.rs
  apps/desktop/src-tauri/src/common/mod.rs
  apps/desktop/src-tauri/src/common/result.rs
  apps/desktop/src-tauri/src/models/config.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/src/util/fs.rs
  apps/desktop/src/util/string.ts
  crates/scraper-myabandonware/.gitignore
  crates/scraper-myabandonware/Cargo.toml
  crates/scraper-myabandonware/src/lib.rs
  crates/scraper-myabandonware/src/models.rs
  crates/scraper-myabandonware/src/routes.rs
  crates/scraper-myabandonware/src/scraper/game.rs
  crates/scraper-myabandonware/src/scraper/mod.rs
  crates/scraper-myabandonware/src/scraper/search.rs
  crates/scraper-myabandonware/src/tests.rs
  crates/wrapper-itchio/Cargo.toml
  crates/wrapper-itchio/src/api/models.rs
  crates/wrapper-itchio/src/lib.rs
  crates/wrapper-legacygames/Cargo.toml
  crates/wrapper-legacygames/src/api/endpoints.rs
  crates/wrapper-legacygames/src/lib.rs
  crates/wrapper-legacygames/src/result.rs
  crates/wrapper-legacygames/src/tests.rs
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): add legacy games installing and launching
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/src/util/fs.rs
Due: rustfmt --edition 2021

chore: update deps
  apps/desktop/package.json
  package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/ui/package.json
Due: prettier --write

refactor(crates/wrapper-legacygames): remove unnecessary mut
  crates/wrapper-legacygames/src/tests.rs
Due: rustfmt --edition 2021

feat(apps/desktop): download events and lots of minor improvements and fixes
  apps/desktop/package.json
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/mod.rs
  apps/desktop/src-tauri/src/models/payloads.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/index.tsx
  apps/desktop/src/models/payloads.tsx
  apps/desktop/src/models/types.tsx
  apps/desktop/src/routes/Library.tsx
  apps/desktop/src/routes/Library/GameGrid.tsx
  apps/desktop/src/routes/Library/Library.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): add md5 verification (very slow implementation, must update)
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/util/file.rs
  apps/desktop/src-tauri/src/util/fs.rs
  apps/desktop/src-tauri/src/util/mod.rs
  crates/wrapper-legacygames/src/lib.rs
Due: rustfmt --edition 2021

feat(apps/desktop): verify md5 while downloading, still needs proper error handling
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/util/file.rs
Due: rustfmt --edition 2021

feat(apps/desktop): context menu
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/GameContextMenu.tsx
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/components/Sidebar.tsx
  apps/desktop/src/models/types.tsx
  apps/desktop/src/routes/Library/GameGrid.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/index.ts
  packages/ui/src/components/ContextMenu.tsx
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/styles.css
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): add basic game uninstalling
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/src/util/file.rs
  apps/desktop/src/components/GameContextMenu.tsx
  packages/ui/src/components/ContextMenu.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): add a proper frontend state and context
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/payloads.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/State.tsx
  apps/desktop/src/models/payloads.tsx
  apps/desktop/src/routes/Library/Library.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): use actual game covers (local download still missing)
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/models/types.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): add search and initial filtering functionality
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/models/payloads.rs
  apps/desktop/src-tauri/src/schema.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/components/Header.tsx
  apps/desktop/src/models/payloads.tsx
  apps/desktop/src/routes/Library/Library.tsx
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Button.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

refactor: move some invokers to the global state for a better unification
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/models/payloads.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/State.tsx
  apps/desktop/src/components/GameContextMenu.tsx
  apps/desktop/src/models/payloads.tsx
  apps/desktop/src/models/types.tsx
  apps/desktop/src/routes/Library/GameGrid.tsx
  apps/desktop/src/routes/Library/Library.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

refactor(apps/desktop): move list of pages from the sidebar component to models
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Sidebar.tsx
  apps/desktop/src/models/pages.tsx
Due: eslint --fix, prettier --write

refactor(apps/desktop): some code cleanup and comments
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/index.tsx
  apps/desktop/src/models/types.tsx
  apps/desktop/src/routes/Library/GameGrid.tsx
  apps/desktop/src/routes/Library/Library.tsx
  packages/ui/src/components/Dialog.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): initial downloads page
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Header.tsx
  apps/desktop/src/components/Sidebar.tsx
  apps/desktop/src/index.tsx
  apps/desktop/src/models/pages.tsx
  apps/desktop/src/routes/Downloads/Downloads.tsx
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): download page general structure
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/routes/Downloads/DownloadItem.tsx
  apps/desktop/src/routes/Downloads/Downloads.tsx
  apps/desktop/src/routes/Library/GameGrid.tsx
  packages/config-tailwind/tailwind.config.ts
Due: eslint --fix, prettier --write

feat(apps/desktop): download queue and completed items
  apps/desktop/package.json
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/payloads.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/State.tsx
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/models/payloads.tsx
  apps/desktop/src/models/types.tsx
  apps/desktop/src/routes/Downloads/DownloadItem.tsx
  apps/desktop/src/routes/Downloads/Downloads.tsx
  packages/ui/package.json
  packages/ui/src/components/IconButton.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): add downloading item to the top of the downloads page and progress bars
  apps/desktop/src/State.tsx
  apps/desktop/src/routes/Downloads/DownloadDetails.tsx
  apps/desktop/src/routes/Downloads/DownloadItem.tsx
  apps/desktop/src/routes/Downloads/Downloads.tsx
Due: eslint --fix, prettier --write

feat(apps/desktop): basic support for external downloads (itchio)
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/managers/download.rs
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src-tauri/src/storefronts/legacygames.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src/State.tsx
  apps/desktop/src/components/InstallDialog.tsx
  apps/desktop/src/models/types.tsx
  apps/desktop/src/routes/Downloads/DownloadItem.tsx
  apps/desktop/src/routes/Downloads/Downloads.tsx
  apps/desktop/src/styles.css
  crates/wrapper-itchio/src/api/models.rs
Due: eslint --fix, prettier --write, rustfmt --edition 2021

fix(apps/desktop): get external download size when finished downloading, before extracting
  apps/desktop/src-tauri/src/storefronts/itchio.rs
  apps/desktop/src/State.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

feat(apps/desktop): do not process the external download if it's not successful
  apps/desktop/src-tauri/src/storefronts/itchio.rs
Due: rustfmt --edition 2021

feat(apps/desktop): uninstalling indicator on game card
  apps/desktop/src-tauri/migrations/2024-08-24-142642_initial/up.sql
  apps/desktop/src-tauri/src/models/game.rs
  apps/desktop/src-tauri/src/storefronts/mod.rs
  apps/desktop/src-tauri/src/util/fs.rs
  apps/desktop/src/State.tsx
  apps/desktop/src/components/GameCard.tsx
  apps/desktop/src/components/GameContextMenu.tsx
  apps/desktop/src/models/types.tsx
  apps/desktop/src/routes/Library/Library.tsx
Due: eslint --fix, prettier --write, rustfmt --edition 2021

chore(apps/desktop): update deps
  apps/desktop/src-tauri/Cargo.lock
Due: none

feat(apps/desktop): add initial settings page structure
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src/components/Sidebar.tsx
  apps/desktop/src/index.tsx
  apps/desktop/src/models/pages.tsx
  apps/desktop/src/routes/Settings/Settings.tsx
Due: eslint --fix, prettier --write

chore: update deps
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.lock
  package.json
  packages/config-eslint/package.json
  packages/ui/package.json
Due: prettier --write

fix(packages/ui): text field width fixed and code cleanup
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/TextField.tsx
Due: eslint --fix, prettier --write

fix(apps/desktop): refetch versions on dialog open to avoid annoying visual effect
  apps/desktop/src/components/InstallDialog.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json,pcss,css,sql})
  rustfmt --edition 2021: any of: *.rs
